.hero{
    width: 100vw; /* larghezza: 100% della larghezza della viewport (100% viewport width)*/
    min-height: 100vh; /* larghezza: 100% dell'altezza della viewport (100% viewport height)*/
    background-image: url(https://www.mytherapyapp.com/media/pages/it/blog/le-migliori-app-per-meditazione-e-mindfulness/c85ededba5-1651750214/meditazione-mindfulness-concentrazione-migliori-app-title-1200x675-crop-1-q65-optimized.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 110px;
    position: relative;
}


.hero::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}




*{
    margin: 0;
    box-sizing: border-box;
  }
  
  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: lightgreen
  }
  
  .flex-child{
    background-color: pink;
    width: 80px;
    height: 25px;
    margin: 10px;
    margin-right: 5px;
  }
  
  .header{
    display: flex;
    flex-direction: row; /* valore di default */
    justify-content: space-between;
    text-decoration: none;
  }
  
  .menuWrapper ul{
    list-style: none;
    padding: 0;
    display: flex;
    
  }

  .menuWrapper ul{
    list-style: none;
    padding: 0;
    display: flex;
    
  }

  .menuWrapper ul li .h{
    text-decoration: none;
    width: 61px;
    height: 25px;
    color:white;
    font-size:15px;
  }

  .menuWrapper ul li .n{
    margin-right: 10px;
    margin-left: 35px;
    text-decoration: none;
    width: 55px;
    height: 25px;
    color:white;
    font-size:15px;
  }

  .menuWrapper ul li .c{
    margin-right: 10px;
    margin-left: 35px;
    margin-top: 100px;
    text-decoration: none;
    width: 83px;
    height: 25px;
    color:white;
    font-size:15px;
  }

  .logoWrapper{
    margin-left: 20px;
  }


  .reflink{
    display: flex;
    flex-direction: row-reverse;
  }

  .wonderfulpage{
    display:flex;
    justify-content: center;
    flex-direction: row;
  }
  
  p{
    position: absolute;
    width: 1057px;
    height: 101px;
    left: 319.8px;
    top: 349.25px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101px;
    text-align: center;
    color:white
  }

  .hr1{
    position: absolute;
    width: 1057px;
    height: 0px;
    left: 320.5px;
    top: 310.75px;
    border: 1px solid #343434;
    opacity: 1;

  }



  .hr2{
    position: absolute;
    width: 1057px;
    height: 0px;
    left: 320.5px;
    top: 450.75px;
    border: 1px solid #343434;
    opacity: 1;
  }

  .hr3{
    position: absolute;
    width: 388px;
    height: 0px;
    left: 645.5px;
    top: 580.75px;
    border: 1px solid #FFFFFF;
    opacity: 1;
  }


.loremipsum{
  font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif; 
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
  top: 500.75px;
}

.loremipsum2{
  font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif; 
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
  top: 540.75px;
}


 .continue{
  color: #080C71;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  background-color: #FFFFFF;
}
